[Desktop Entry]
Type=Application
Name=Gospel PDF
Comment=Simple PDF Viewer
Exec=gospel_pdf %f
Icon=gospel-pdf
Categories= Office;
MimeType=application/pdf;
Terminal=false
StartupNotify=false
