[Desktop Entry]
Type=Application
Name=PDF Bunny
Comment=Simple PDF Viewer
Exec=pdf_bunny %f
Icon=pdf-bunny
Categories= Office;
MimeType=application/pdf;
Terminal=false
StartupNotify=false
